@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&family=Source+Sans+Pro:wght@300&display=swap');

* {
	font-family: sora, sans-serif;
	color: white;
	font-weight: 100;
	text-align: left;
}

body {
	background-image: url(./image/wall2.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: 2;
}

.hero::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(21, 20, 51, 0.6);
	z-index: -1;
}

.navbar.logo {
	width: 160px;
}
